<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="WinAdo.Properties.Settings.Connection" connectionString="Data Source=DESKTOP-I9RBSSV\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>